.rotate_div{
    display: inline;
}

.rotate {
    animation: rotation 2s infinite linear; /* Adjust duration and timing function */
  }

  .rotate_div_page {
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;      /* Vertically center */
    height: 30vh;

  }
  
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  