.container {
  width: 80%;
  padding: 20px;
  margin: auto;
  background-color: whitesmoke;
  border-radius: 10px;
}

.gradeSection {
  margin-bottom: 20px;
}

.feeName {
  font-size: 13px;
}

/* Ensure cards are centered and adjust dynamically */
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center the cards horizontally */
}

.card {
  border-radius: 8px;
  padding: 8px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  background-color: green;
}

.card p {
  text-align: left;
  font-weight: 500;
  font-size: 13px;
}

.total p {
  color: whitesmoke;
}

.cardContent {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
}

/* Scale effect on hover */
.card:hover,
tbody tr:hover {
  transform: scale(1.05);
}

/* Progress bar styling */
progress {
  height: 30px;
}

.gradeTotal {
  text-align: center;
  color: black;
}

.divider-payments{
  width: 60%;
  margin: 20px auto;
  border : 1px solid #ccc
}

.divider-total{
  width: 40%;
  margin: 30px auto;
  border : 2px solid #ccc
}

