.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  color: #fff;
  padding: 1rem;
  width: 100%;
}

.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.seeRegister{
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  color: green;
  font-size: medium;
  font-weight: bold;
}

.seeRegister:hover{
  color: #fff;
  background-color: green;
  
}


.navbar-right {
  display: flex;
  align-items: center;
  padding-right: 3rem;
}

.navbar-right .cart-icon,
.navbar-right .user-icon {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  position: relative;
  font-size: 20px;
}

.navbar-right .cart-count {
  background-color: #f44336;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
}

/* Dropdown Menu Styles */
.dropdown-menu-nav {
  display: block;
  position: absolute;
  color: black;
  background-color: rgb(218, 218, 213); /* This sets the background color to yellow */
  width: auto; /* Allow it to expand naturally based on content */
  min-width: 150px; /* Minimum width to prevent it from being too narrow */
  left: -100px; /* Shift the dropdown to the left */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1; /* Ensures it's above other content */
  text-align: left;
  
}



.logout-btn {
  margin-top: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
}

.dropdown-nav {
  position: relative;
  display: inline-block;
}

/* Container for the user info */
.navbar-user-info {
 display: block;
  gap: 10px; /* Add space between the name/email and school name */
  color: green; /* Ensure text color matches the navbar */
  font-size: 16px;
  padding-bottom: 5px;
  border-radius: 5px;
}

/* Style for the user's name or email */
.navbar-user-info .user-name {
  font-weight: bold;
}

/* Style for the school name */
.navbar-user-info .school-name {
  display: block;
  font-style: italic; /* Different style for the school name */
  color: green /* Subtle color for the school name */
}